@media (min-width: 768px) {   
  .main-nav{
    height: 39px;
    padding: 0 80px;
  }
  .main-nav__logo-brand{
    width: 92.4px;
    height: 21.36px;
  }
  .main-nav__hamburger{
    display: none;
  }
  .main-nav__menu{
    display: block;
  }
  .main-nav__menu a{
    font-size: 16px;
    padding: 0 5px;
  }
  .main-cover__all-menu{
    padding: 14px 29px 14px 80px;
  }

  .history{
    height: 378px;
  }
  .history-title{
    padding-top: 170px;
    width: 60%;
  }
  .history-img{
    display: block;
    width: 40%;
  }
  .history-img img{
    height: 100%;
  }
  .history-title{
    padding-left: 80px;
    padding-right:60px;
  }
  .history-title h1,
  .history-title p{
    text-align: left;
  }
  .history-title h1{
    font-size: 28px;
  }
  .history-title p{
    margin-top: 44px;
    padding: 0;
    text-indent: 50px;
    font-size: 12px;
  }
  
  .about{
    flex-direction: row;
  }
  .about-bg__color{
    border-width:191px 40vw 0 0;
  }
  .about-bg__logo{
    background-size: 273px ;
    width: 273px;
    height: 273px;
  }
  .about-img{
    margin:45px 0 0 80px;
  }
  .about-img img{
    width: 118px;
    height: 185px;
  }
  .about-title{
    text-align:right;
    padding: 75px 80px 48px 60px;
  }
  .about-title h1{
    font-size: 28px;
  }
  .about-title p{
    font-size:12px;
    padding:20px 0 0 60px ;
  }

  .contact-map{
    padding: 0 80px;
  }
  .contact-map iframe{
    width: 100%;
    height: 172px;
  }
  .contact-title{
    padding: 0 80px;
  }
  .contact-title__phone__number,
  .contact-title__location__add{
    display: flex;
  }
  .contact-title__phone__number p:last-child,
  .contact-title__location__add p:last-child{
    font-size: 18px;
    margin-left: 20px;
  }

  .footer{
    padding: 10px 80px;
  }
  .footer-logo__title{
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-logo__title p {
    margin-left: 10px;
  }
 }

@media (min-width: 1200px) { 
  .main-nav{
    height: 65px;
    padding: 0 120px;
  }
  .main-nav__logo-brand{
    width: 154px;
    height: 35px;
  }
  .main-nav__menu a{
    font-size: 16px;
    padding: 0 20px;
    font-weight: bold;
  }
  .main-cover__all-menu{
    padding: 14px 29px 14px 120px;
  }
  .main-cover__all-menu p{
    font-size: 24px;
  }
  .main-cover__block{
    height: 52px;
  }

  .menu-items__item img{
    width: 180px;
    height: 180px;
  }
  .slick-center .menu-items__item img{
    width: 225px;
    height: 225px;
  }

  .history{
    height: 630px;
  }
  .history-title{
    padding-left: 120px;
    padding-top: 400px;
  }
  .history-title h1{
    font-size: 45px;
  }
  .history-title p{
    font-size: 23px;
  }

  .about-bg__color{
    border-width:388px 35vw 0 0;
  }
  .about-bg__logo{
    background-size: 506px ;
    width: 506px;
    height: 506px;
    top:-90px;
    left:-100px;
  }
  .about-img{
    margin:70px 0 0 120px;
  }
  .about-img img{
    width: 239px;
    height: 375px;
  }
  .about-bg__img2{
    margin-left: 60px;
  }
  .about-title{
    padding:200px 120px 48px 60px;
  }
  .about-title h1{
    font-size: 45px;
  }
  .about-title p{
    font-size:23px;
    padding:20px 0 0 200px;
  }

  .contact-map{
    padding: 0 120px;
  }
  .contact-map iframe{
    width: 100%;
    height: 285px;
  }
  .contact-title{
    padding: 20px 120px;
  }
  .contact-title__phone__number p,
  .contact-title__location__add p{
    font-size: 23px;
  }
  .contact-title__phone__number p:last-child,
  .contact-title__location__add p:last-child{
    font-size: 23px;
  }
  .contact-title__location__add p:last-child{
    margin-left: 45px;
  }

  .footer{
    padding: 10px 120px;
  }
  .footer-logo img{
    width: 58px;
    height: 58px;
  }
  .footer-logo__title p{
    font-size: 14px;
  }
}